<a href="https://colab.research.google.com/github/Utkarsh-2005/2206309/blob/main/Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.datasets import load_wine
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

In [5]:
# Load dataset
wine = load_wine()

# Convert to DataFrame
df = pd.DataFrame(wine.data, columns=wine.feature_names)

# Add target column
df['target'] = wine.target

df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [6]:
df['target_cat'] = df['target'].map({0: 'class_A', 1: 'class_B', 2: 'class_C'})

df[['target', 'target_cat']].head()

   target target_cat
0       0    class_A
1       0    class_A
2       0    class_A
3       0    class_A
4       0    class_A

In [11]:
le = LabelEncoder()

df['label_encoded'] = le.fit_transform(df['target_cat'])

df[['target_cat', 'label_encoded']].head()

  target_cat  label_encoded
0    class_A              0
1    class_A              0
2    class_A              0
3    class_A              0
4    class_A              0

In [13]:
ohe = OneHotEncoder(sparse_output=False)

encoded = ohe.fit_transform(df[['target_cat']])
encoded
encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out())

encoded_df.head()

   target_cat_class_A  target_cat_class_B  target_cat_class_C
0                 1.0                 0.0                 0.0
1                 1.0                 0.0                 0.0
2                 1.0                 0.0                 0.0
3                 1.0                 0.0                 0.0
4                 1.0                 0.0                 0.0

In [9]:
df['quality'] = ['low', 'medium', 'high'] * (len(df)//3) + ['low']*(len(df)%3)

df[['quality']].head()

  quality
0     low
1  medium
2    high
3     low
4  medium

In [10]:
oe = OrdinalEncoder(categories=[['low', 'medium', 'high']])

df['ordinal_encoded'] = oe.fit_transform(df[['quality']])

df[['quality', 'ordinal_encoded']].head()

  quality  ordinal_encoded
0     low              0.0
1  medium              1.0
2    high              2.0
3     low              0.0
4  medium              1.0